[Unit]
Description=Network Telescope Sweep Service of Unsent PCAP Files
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/network-telescope/capturing-node.env
WorkingDirectory=@PROJECT_ROOT@
ExecStart=@PROJECT_ROOT@/scripts/sweep.sh

User=nt-capture
Group=nt-capture

# CPUAffinity=0-1
Nice=19
IOSchedulingClass=idle

TimeoutStartSec=15min

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/network-telescope/data/raw

StandardOutput=journal
StandardError=journal
SyslogIdentifier=nt-sweep
